<div class="search-container">
    <input type="text" [(ngModel)]="parametroBusqueda.id" placeholder="Buscar por ID" (input)="onSearch($event)">
    <button pButton type="button" label="Crear Usuario" (click)="mostrarModalCrearUsuario()"></button>
</div>

<p-table [value]="usuarios" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Nombre Usuario</th>
            <th>Rol</th>
            <th>Zona</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-columns="columns">
        <tr>
            <td>
                {{product.id}}
            </td>
            <td>
                {{product.email}}
            </td>

            <td>
                {{product.apellidos}}
            </td>
            <td>
                {{product.nombres}}
            </td>
            <td>
                {{product.estado}}
            </td>
            <td>
                {{product.nombreUsuario}}
            </td>
            <td>
                {{product.rol}}
            </td>
            <td>
                {{product.zona}}
            </td>
            <td>
                <button class="btn btn-primary btn-sm" >Editar</button>
                <button class="btn btn-danger btn-sm" (click)="deleteActividad(product.id)">Eliminar</button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog [(visible)]="mostrarCrearUsuario" [modal]="true" [style]="{ width: '40rem', height: '50rem' }">
    <app-crear-usuario></app-crear-usuario>
</p-dialog>

